DataEngineeringPython/RegistryControl_for_AviationStack.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "a3775910-fef1-3c89-a8d4-24474c958e35" : {
          "identifier" : "a3775910-fef1-3c89-a8d4-24474c958e35",
          "name" : "AdJsonRecordSetWriter"
        },
        "9c2c77ef-c43d-384b-ad84-e01bfc2147b2" : {
          "identifier" : "9c2c77ef-c43d-384b-ad84-e01bfc2147b2",
          "name" : "MySQL"
        },
        "dc88399e-8b51-3d06-8ea0-d6374afd7c08" : {
          "identifier" : "dc88399e-8b51-3d06-8ea0-d6374afd7c08",
          "name" : "AdJsonTreeReader"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1872.0,
            "y" : 792.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "d341c1db-e707-3072-9846-a9e753757720",
            "instanceIdentifier" : "9f1e235a-018a-1000-9067-589c152d89e1",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "5e893081-c29b-3376-b585-6f537e941c20",
          "instanceIdentifier" : "9f1e53f3-018a-1000-3a09-2f0e80594bfb",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "1392d009-4220-35e2-aa1b-f7b7594bb732",
            "instanceIdentifier" : "9f099f2d-018a-1000-9072-82d917b4d864",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 536.0,
            "y" : 392.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "686e8e0f-09c0-34d5-953e-462d153a5811",
            "instanceIdentifier" : "9be67afa-018a-1000-a70d-8c8981592be5",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "63a90c9f-2feb-3009-b051-48f85f1916a7",
          "instanceIdentifier" : "9bed489b-018a-1000-9e23-cc0617000536",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "3898c960-bb57-3cf4-9ed5-5dd10826258c",
            "instanceIdentifier" : "9be7b240-018a-1000-d323-bef6109d2485",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1872.0,
            "y" : 648.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "1392d009-4220-35e2-aa1b-f7b7594bb732",
            "instanceIdentifier" : "9f099f2d-018a-1000-9072-82d917b4d864",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "4b21f8f8-6a62-3e78-a207-b40e742c16b5",
          "instanceIdentifier" : "9f09f3ba-018a-1000-4f4d-27d750545d3d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "0f8928f7-7c22-3239-bfc3-36a2a78ce62a",
            "instanceIdentifier" : "9efe9408-018a-1000-fb19-a42f07a05041",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1208.0,
            "y" : 192.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "eb69c11d-998a-3217-bc7c-909a77b5d0ef",
            "instanceIdentifier" : "9b8a9673-018a-1000-ff83-4a7914ae30a8",
            "name" : "Wait",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "0b4187b3-2c26-34e1-a11a-341e190a4818",
          "instanceIdentifier" : "9b8ab165-018a-1000-301e-7d3961ccd580",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "89ce6fb5-89d1-3e86-ac7b-9b4c185a0daa",
            "instanceIdentifier" : "9b8297a1-018a-1000-3065-9095219b412d",
            "name" : "getFlightsFromAPIAviationStack",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1208.0,
            "y" : 352.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "fddd82ea-dc5b-3c25-803c-73b7e6f5abfb",
            "instanceIdentifier" : "9bef9c1e-018a-1000-5100-deec3264682e",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "6d43ed93-3166-3096-aab9-f34050ee0420",
          "instanceIdentifier" : "9bf23f45-018a-1000-ffec-1ebec64139c4",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "3898c960-bb57-3cf4-9ed5-5dd10826258c",
            "instanceIdentifier" : "9be7b240-018a-1000-d323-bef6109d2485",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -240.0,
            "y" : 392.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "31f58e12-bf29-3b1a-a85f-653e3333bb57",
            "instanceIdentifier" : "9fe5de41-018a-1000-b57e-447446659998",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "370bbb40-218a-3eef-87c5-b400e6120f4a",
          "instanceIdentifier" : "a02eaf46-018a-1000-fc8d-bc3640607c7b",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "query" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "f7be1980-96bc-3447-8917-9f1d0a202c89",
            "instanceIdentifier" : "9fe47068-018a-1000-6c23-db5171b6fb02",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1208.0,
            "y" : 304.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "3898c960-bb57-3cf4-9ed5-5dd10826258c",
            "instanceIdentifier" : "9be7b240-018a-1000-d323-bef6109d2485",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "d40268a0-fa79-3c7d-acf2-06f9bd8fe58b",
          "instanceIdentifier" : "9bf276e2-018a-1000-5eb8-aa832814b823",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "fddd82ea-dc5b-3c25-803c-73b7e6f5abfb",
            "instanceIdentifier" : "9bef9c1e-018a-1000-5100-deec3264682e",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1149.0,
            "y" : 711.0
          }, {
            "x" : 1232.0,
            "y" : 744.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "2f8bb108-c0de-3aaa-8911-7fe01b5ae206",
            "instanceIdentifier" : "9c1e54a1-018a-1000-1416-687354ca197e",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "b512b0b8-4427-3e23-99e7-3b6090be352e",
          "instanceIdentifier" : "9c226306-018a-1000-263a-5213993131fb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "2f8bb108-c0de-3aaa-8911-7fe01b5ae206",
            "instanceIdentifier" : "9c1e54a1-018a-1000-1416-687354ca197e",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1664.0,
            "y" : 480.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "0f8928f7-7c22-3239-bfc3-36a2a78ce62a",
            "instanceIdentifier" : "9efe9408-018a-1000-fb19-a42f07a05041",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "f44fe600-570b-3653-baaf-51b83b5ef61b",
          "instanceIdentifier" : "9f021973-018a-1000-938a-b98eece69177",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "f0c48ecc-374a-38a1-bc16-0313d94327cb",
            "instanceIdentifier" : "9effb20f-018a-1000-a8ba-d6810f93b23f",
            "name" : "FlattenJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 480.0,
            "y" : 192.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "7b578340-42d9-356e-8875-eafe216b404a",
            "instanceIdentifier" : "9fe0e34f-018a-1000-1d17-5f2e0590c0f5",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "1d22206a-c7be-303c-a061-408893e7cb12",
          "instanceIdentifier" : "9fe2947e-018a-1000-3e68-d1cb9f8460db",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "89ce6fb5-89d1-3e86-ac7b-9b4c185a0daa",
            "instanceIdentifier" : "9b8297a1-018a-1000-3065-9095219b412d",
            "name" : "getFlightsFromAPIAviationStack",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -1024.0,
            "y" : 808.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "afb45405-118f-392d-9274-a33a6c123016",
            "instanceIdentifier" : "ab5fad66-018a-1000-d524-af94c8a84673",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "7796aff6-7f19-3cd7-9bab-8f9b4a14e927",
          "instanceIdentifier" : "ab5fbef5-018a-1000-bb40-6efba856036d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "0843126f-3fdb-30a6-8d9e-205c7dae7394",
            "instanceIdentifier" : "ab5e9fb1-018a-1000-3a99-f46dda5c1f03",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 544.0,
            "y" : 120.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "89ce6fb5-89d1-3e86-ac7b-9b4c185a0daa",
            "instanceIdentifier" : "9b8297a1-018a-1000-3065-9095219b412d",
            "name" : "getFlightsFromAPIAviationStack",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "9e0bb9d4-e618-3e6e-91ed-2132fd508cce",
          "instanceIdentifier" : "9b91dc2a-018a-1000-5b5f-bbdcc69c0950",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "79ec2010-d143-3451-983d-cfab79130028",
            "instanceIdentifier" : "9b8300cb-018a-1000-016d-fb9f59056e08",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1424.0,
            "y" : 480.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "0f8928f7-7c22-3239-bfc3-36a2a78ce62a",
            "instanceIdentifier" : "9efe9408-018a-1000-fb19-a42f07a05041",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "ea43a828-1d78-3090-a51c-1b6a17eb1773",
          "instanceIdentifier" : "9f09698a-018a-1000-b534-6d3b2e6a6819",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "3898c960-bb57-3cf4-9ed5-5dd10826258c",
            "instanceIdentifier" : "9be7b240-018a-1000-d323-bef6109d2485",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1192.0,
            "y" : 136.0
          }, {
            "x" : 1192.0,
            "y" : -168.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "c593da88-726a-3369-8bb9-eab52284e322",
            "instanceIdentifier" : "9fd0912f-018a-1000-68f9-15e2091b65a5",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "041e02b0-5275-338c-a689-c06bb92ea4d7",
          "instanceIdentifier" : "9fd0feb9-018a-1000-4f86-4a8730b643dd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "89ce6fb5-89d1-3e86-ac7b-9b4c185a0daa",
            "instanceIdentifier" : "9b8297a1-018a-1000-3065-9095219b412d",
            "name" : "getFlightsFromAPIAviationStack",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 360.0,
            "y" : -168.0
          }, {
            "x" : 360.0,
            "y" : 328.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "3898c960-bb57-3cf4-9ed5-5dd10826258c",
            "instanceIdentifier" : "9be7b240-018a-1000-d323-bef6109d2485",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "7357823d-88b2-3b2f-992e-90192e9af3fc",
          "instanceIdentifier" : "9fd40afb-018a-1000-5187-a9fc536f5557",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "c593da88-726a-3369-8bb9-eab52284e322",
            "instanceIdentifier" : "9fd0912f-018a-1000-68f9-15e2091b65a5",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1424.0,
            "y" : 424.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "f0c48ecc-374a-38a1-bc16-0313d94327cb",
            "instanceIdentifier" : "9effb20f-018a-1000-a8ba-d6810f93b23f",
            "name" : "FlattenJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "cef3dd68-7189-34e4-b3f2-37647a364b2d",
          "instanceIdentifier" : "9effe142-018a-1000-26cd-338267951be1",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "3898c960-bb57-3cf4-9ed5-5dd10826258c",
            "instanceIdentifier" : "9be7b240-018a-1000-d323-bef6109d2485",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -240.0,
            "y" : 528.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "4f2498d5-6f0c-3c16-aa09-608bd16f14d5",
            "instanceIdentifier" : "9fe65afe-018a-1000-7a71-10e12f47872c",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "2acbc839-3438-3de6-aa40-4a14c9e8daac",
          "instanceIdentifier" : "9fe84555-018a-1000-14a4-50d73c14b851",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "31f58e12-bf29-3b1a-a85f-653e3333bb57",
            "instanceIdentifier" : "9fe5de41-018a-1000-b57e-447446659998",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 536.0,
            "y" : 664.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "2f8bb108-c0de-3aaa-8911-7fe01b5ae206",
            "instanceIdentifier" : "9c1e54a1-018a-1000-1416-687354ca197e",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "5cff9920-39bb-3741-b9d7-291d13fc931f",
          "instanceIdentifier" : "9c1e789a-018a-1000-2690-aaf28483d5a6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "241a0d5e-67ab-3977-b2ca-5bac1a4a8fd8",
            "instanceIdentifier" : "9c1a3cb9-018a-1000-2f17-e89442f0a30f",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 72.0,
            "y" : -64.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "7b578340-42d9-356e-8875-eafe216b404a",
            "instanceIdentifier" : "9fe0e34f-018a-1000-1d17-5f2e0590c0f5",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "3b88e8e4-2c1a-367d-b9ec-54a284155eea",
          "instanceIdentifier" : "9fe2b1e4-018a-1000-4254-c81b1fd74502",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "c593da88-726a-3369-8bb9-eab52284e322",
            "instanceIdentifier" : "9fd0912f-018a-1000-68f9-15e2091b65a5",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -1024.0,
            "y" : 672.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "0843126f-3fdb-30a6-8d9e-205c7dae7394",
            "instanceIdentifier" : "ab5e9fb1-018a-1000-3a99-f46dda5c1f03",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "cfa90835-54c8-3a91-be11-697513f3bb94",
          "instanceIdentifier" : "ab5ed8d3-018a-1000-f7fc-24c48622c2d5",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "retries_exceeded" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "8528c1d2-ae85-3a63-9002-9c75dab3a6e9",
            "instanceIdentifier" : "ab5b3574-018a-1000-60f8-38562a84e0ea",
            "name" : "RetryFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "8528c1d2-ae85-3a63-9002-9c75dab3a6e9",
            "instanceIdentifier" : "ab5b3574-018a-1000-60f8-38562a84e0ea",
            "name" : "RetryFlowFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "a697b41a-d640-334d-96f8-e4d2ffc85a61",
          "instanceIdentifier" : "ab5b76b8-018a-1000-f74c-321a27703d4b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "4f2498d5-6f0c-3c16-aa09-608bd16f14d5",
            "instanceIdentifier" : "9fe65afe-018a-1000-7a71-10e12f47872c",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 544.0,
            "y" : 256.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "3898c960-bb57-3cf4-9ed5-5dd10826258c",
            "instanceIdentifier" : "9be7b240-018a-1000-d323-bef6109d2485",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "3f91d99b-94d2-3dcb-85f2-c4a6ec8f1d53",
          "instanceIdentifier" : "9be7dd8e-018a-1000-1ff4-756e2019f4f1",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "89ce6fb5-89d1-3e86-ac7b-9b4c185a0daa",
            "instanceIdentifier" : "9b8297a1-018a-1000-3065-9095219b412d",
            "name" : "getFlightsFromAPIAviationStack",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -240.0,
            "y" : 256.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "f7be1980-96bc-3447-8917-9f1d0a202c89",
            "instanceIdentifier" : "9fe47068-018a-1000-6c23-db5171b6fb02",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "990f0f79-e42a-3d0a-b997-875633ccb57d",
          "instanceIdentifier" : "9fe4ad09-018a-1000-786d-f883f18cce49",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "7b578340-42d9-356e-8875-eafe216b404a",
            "instanceIdentifier" : "9fe0e34f-018a-1000-1d17-5f2e0590c0f5",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 342.80000019073486,
            "y" : 537.2000122070312
          }, {
            "x" : 382.80000019073486,
            "y" : 601.2000122070312
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "4f2498d5-6f0c-3c16-aa09-608bd16f14d5",
            "instanceIdentifier" : "9fe65afe-018a-1000-7a71-10e12f47872c",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "4f6ca6a6-bb9a-3d8f-9c3e-fff33a63f348",
          "instanceIdentifier" : "a04ca356-018a-1000-b084-2df4e2aac288",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "4f2498d5-6f0c-3c16-aa09-608bd16f14d5",
            "instanceIdentifier" : "9fe65afe-018a-1000-7a71-10e12f47872c",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 536.0,
            "y" : 528.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "241a0d5e-67ab-3977-b2ca-5bac1a4a8fd8",
            "instanceIdentifier" : "9c1a3cb9-018a-1000-2f17-e89442f0a30f",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "eefd5f2e-653f-3563-9f21-b23a2afbb259",
          "instanceIdentifier" : "9c1a63f8-018a-1000-e321-f9369afc827e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "686e8e0f-09c0-34d5-953e-462d153a5811",
            "instanceIdentifier" : "9be67afa-018a-1000-a70d-8c8981592be5",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -320.0,
            "y" : 648.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "4f2498d5-6f0c-3c16-aa09-608bd16f14d5",
            "instanceIdentifier" : "9fe65afe-018a-1000-7a71-10e12f47872c",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "48d19f71-6f31-3e4b-be6d-32785e97f352",
          "instanceIdentifier" : "ab5b915f-018a-1000-2c17-b3819e1530fc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "8528c1d2-ae85-3a63-9002-9c75dab3a6e9",
            "instanceIdentifier" : "ab5b3574-018a-1000-60f8-38562a84e0ea",
            "name" : "RetryFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1192.0,
            "y" : -224.0
          }, {
            "x" : 1192.0,
            "y" : -264.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "c593da88-726a-3369-8bb9-eab52284e322",
            "instanceIdentifier" : "9fd0912f-018a-1000-68f9-15e2091b65a5",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "037b3ee3-7b55-356d-9192-20272f3db4d8",
          "instanceIdentifier" : "9fd2a513-018a-1000-39e7-f9fcc6204934",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "c593da88-726a-3369-8bb9-eab52284e322",
            "instanceIdentifier" : "9fd0912f-018a-1000-68f9-15e2091b65a5",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1845.0,
            "y" : 967.0
          }, {
            "x" : 1872.0,
            "y" : 1008.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "96f748aa-c142-3c46-a18b-90aae9d98069",
            "instanceIdentifier" : "9f20cabc-018a-1000-172b-6c56c3d6c4f9",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "9f05f8f4-2465-3977-851e-03474969ef5e",
          "instanceIdentifier" : "9f221b78-018a-1000-3f3e-319e8df63553",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "96f748aa-c142-3c46-a18b-90aae9d98069",
            "instanceIdentifier" : "9f20cabc-018a-1000-172b-6c56c3d6c4f9",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1872.0,
            "y" : 920.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "96f748aa-c142-3c46-a18b-90aae9d98069",
            "instanceIdentifier" : "9f20cabc-018a-1000-172b-6c56c3d6c4f9",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "72ad362e-c6dd-3cec-8264-7ce6d43cfb17",
          "instanceIdentifier" : "9f20ea2d-018a-1000-ef31-b8e6c3740ad3",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "7579cae7-f50b-32de-98da-4fc3218fafee",
            "id" : "d341c1db-e707-3072-9846-a9e753757720",
            "instanceIdentifier" : "9f1e235a-018a-1000-9067-589c152d89e1",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
        "inputPorts" : [ ],
        "instanceIdentifier" : "9b7f7b98-018a-1000-a6de-7322a4c977d0",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "height" : 1008.0,
          "identifier" : "2ae93813-c9d0-3c4e-87bb-d6c16ba1bd32",
          "instanceIdentifier" : "9f580564-018a-1000-a8cc-3f6fc01469e4",
          "label" : "1. Use EvaluateJsonPath as a alternative method.\n2. Insert the flowfile into a MySQL table.",
          "position" : {
            "x" : 1224.0,
            "y" : 72.0
          },
          "style" : {
            "font-size" : "14px"
          },
          "width" : 808.0,
          "zIndex" : 1
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "height" : 888.0,
          "identifier" : "34563c3a-1d44-35f8-a5e0-d1c350a43fa6",
          "instanceIdentifier" : "9f56709f-018a-1000-c20a-86400ad79c03",
          "label" : "1. Get flight data from AviationStack API.\n2. Transform the json response with JoltTransformJSON processor.\n3. Insert the flowfile into a MySQL table.",
          "position" : {
            "x" : 392.0,
            "y" : -80.0
          },
          "style" : {
            "font-size" : "14px"
          },
          "width" : 808.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "height" : 480.0,
          "identifier" : "e0f53794-d1e1-3de9-9ff3-3b74184b0f22",
          "instanceIdentifier" : "9be9de71-018a-1000-6d79-1bc845d1c4c9",
          "label" : "1. GenerateFlowFile: possui as propriedades que serao utilizados no passo seguinte. \nValores sao passados como parametros.\n\n2. InvokeHTTP: faz a conexao ao site utilizando as propriedades anteriores e \nretorna o json do resultado.\n\n3. SplitJson: quebra o json original e retorna-o fragmentado. \nNeste caso a chave de quebra foi no 'no raiz'  ' data'.\n\n3a. ControlRate: controla a taxa na qual os dados sao transferidos nos processors.\n\n3b. FlattenJSON: elimina a hierarquia no JSON, colocando todos no mesmo nivel. \nInteressante que a notacao vira 'pai.filho' para indicar como era a estrutura antiga.\n\n3c. EvaluateJSONPath: permite quebrar o JSON em attributes e envia-los separados\npara o proximo estagio. Os attributes tem que ser criados manualmente, um a um, \ne eh ideal que o nome deles coincida com o nome do campo no banco de dados.\n\n4. JoltTransformJSON: recria um novo json a partir das informacoes fragmentadas \ne selecionadas de interesse. Nao necessariamente precisa de todos os dados. \nEh um processo trabalhoso devido a definicao do formato.\n\n5. ConvertJSONToSQL: utilizado para gerar um script SQL a partir do JSON criado \nna etapa anterior. E necesario ter um banco de dados configurado previamente,\ncom o catalog/schema e table ja criadas.\n\n6. PutSQL: executa o comando SQL anterior. Atencao que no link 'sql' nao aparece \na expressao corretamente pois ela eh preenchida no PutSQL.\n\n7. O fluxo da direita que termina no ElastiSearch funciona ate a penultima etapa. \nO salvamento no elasticsearch nao funciona - tentei via bonsai.io e instalar \ndiretamente no ambiente, mas o service nao sobe.\n\n8. A parte final ('a esquerda') foi para demonstrar o processo de execucao no caso\nde falha no putElastic (que eh o que ocrre), salvando o dado que deveria ir no  \nbanco para um arquivo com um padrao de nome de arquivo. Atentar que o arquivo \nso salva um registro e caso tenha dois com o mesno nome, ele considera apenas \no ultimo (daria para pensar numa solucao com 'append', o que seria o ideal).",
          "position" : {
            "x" : -976.0,
            "y" : -112.0
          },
          "style" : {
            "font-size" : "14px"
          },
          "width" : 560.0,
          "zIndex" : 0
        } ],
        "name" : "Aviation Data",
        "outputPorts" : [ ],
        "parameterContextName" : "aviationFlow",
        "position" : {
          "x" : 928.0,
          "y" : 216.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "0f8928f7-7c22-3239-bfc3-36a2a78ce62a",
          "instanceIdentifier" : "9efe9408-018a-1000-fb19-a42f07a05041",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1376.0,
            "y" : 520.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "altitude" : "$.live.altitude",
            "arrGate" : "$.arrival.gate",
            "Return Type" : "auto-detect",
            "speedVertical" : "$.live.speed_vertical",
            "latitude" : "$.live.latitude",
            "Null Value Representation" : "empty string",
            "depAirport" : "$.departure.airport",
            "Path Not Found Behavior" : "ignore",
            "flightNumber" : "$.flight.number",
            "aircraftRegistration" : "$.aircraft.registration",
            "depTimezone" : "$.departure.timezone",
            "flight_status" : "$.flight_status",
            "liveUpdated" : "$.live.updated",
            "flight_date" : "$.flight_date",
            "arrTimezone" : "$.arrival.timezone",
            "speedHorizontal" : "$.live.speed_horizontal",
            "arrAirport" : "$.arrival.airport",
            "arrTerminal" : "$.arrival.terminal",
            "isGround" : "$.live.is_ground",
            "airlineName" : "$.airline.name",
            "direction" : "$.live.direction",
            "longitude" : "$.live.longitude"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "altitude" : {
              "displayName" : "altitude",
              "identifiesControllerService" : false,
              "name" : "altitude",
              "sensitive" : false
            },
            "arrGate" : {
              "displayName" : "arrGate",
              "identifiesControllerService" : false,
              "name" : "arrGate",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "speedVertical" : {
              "displayName" : "speedVertical",
              "identifiesControllerService" : false,
              "name" : "speedVertical",
              "sensitive" : false
            },
            "latitude" : {
              "displayName" : "latitude",
              "identifiesControllerService" : false,
              "name" : "latitude",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "depAirport" : {
              "displayName" : "depAirport",
              "identifiesControllerService" : false,
              "name" : "depAirport",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            },
            "flightNumber" : {
              "displayName" : "flightNumber",
              "identifiesControllerService" : false,
              "name" : "flightNumber",
              "sensitive" : false
            },
            "aircraftRegistration" : {
              "displayName" : "aircraftRegistration",
              "identifiesControllerService" : false,
              "name" : "aircraftRegistration",
              "sensitive" : false
            },
            "depTimezone" : {
              "displayName" : "depTimezone",
              "identifiesControllerService" : false,
              "name" : "depTimezone",
              "sensitive" : false
            },
            "flight_status" : {
              "displayName" : "flight_status",
              "identifiesControllerService" : false,
              "name" : "flight_status",
              "sensitive" : false
            },
            "liveUpdated" : {
              "displayName" : "liveUpdated",
              "identifiesControllerService" : false,
              "name" : "liveUpdated",
              "sensitive" : false
            },
            "flight_date" : {
              "displayName" : "flight_date",
              "identifiesControllerService" : false,
              "name" : "flight_date",
              "sensitive" : false
            },
            "arrTimezone" : {
              "displayName" : "arrTimezone",
              "identifiesControllerService" : false,
              "name" : "arrTimezone",
              "sensitive" : false
            },
            "speedHorizontal" : {
              "displayName" : "speedHorizontal",
              "identifiesControllerService" : false,
              "name" : "speedHorizontal",
              "sensitive" : false
            },
            "arrAirport" : {
              "displayName" : "arrAirport",
              "identifiesControllerService" : false,
              "name" : "arrAirport",
              "sensitive" : false
            },
            "arrTerminal" : {
              "displayName" : "arrTerminal",
              "identifiesControllerService" : false,
              "name" : "arrTerminal",
              "sensitive" : false
            },
            "isGround" : {
              "displayName" : "isGround",
              "identifiesControllerService" : false,
              "name" : "isGround",
              "sensitive" : false
            },
            "airlineName" : {
              "displayName" : "airlineName",
              "identifiesControllerService" : false,
              "name" : "airlineName",
              "sensitive" : false
            },
            "direction" : {
              "displayName" : "direction",
              "identifiesControllerService" : false,
              "name" : "direction",
              "sensitive" : false
            },
            "longitude" : {
              "displayName" : "longitude",
              "identifiesControllerService" : false,
              "name" : "longitude",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "31f58e12-bf29-3b1a-a85f-653e3333bb57",
          "instanceIdentifier" : "9fe5de41-018a-1000-b57e-447446659998",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -104.0,
            "y" : 400.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "686e8e0f-09c0-34d5-953e-462d153a5811",
          "instanceIdentifier" : "9be67afa-018a-1000-a70d-8c8981592be5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 680.0,
            "y" : 400.0
          },
          "properties" : {
            "jolt-spec" : "[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"flight_date\": \"flight_date\",\n\t\t\"flight_status\": \"flight_status\",\n\t\t\"departure\": {\n\t\t\t\"airport\": \"depAirport\",\n\t\t\t\"timezone\": \"depTimezone\"\n\t\t},\n\t\t\"arrival\": {\n\t\t\t\"airport\": \"arrAirport\",\n\t\t\t\"timezone\": \"arrTimezone\",\n\t\t\t\"terminal\": \"arrTerminal\",\n\t\t\t\"gate\": \"arrGate\"\n\t\t},\n\t\t\"airline\": {\n\t\t\t\"name\": \"airlineName\"\n\t\t},\n\t\t\"flight\": {\n\t\t\t\"number\": \"flightNumber\"\n\t\t},\n\t\t\"aircraft\": {\n\t\t\t\"registration\": \"aircraftRegistration\"\n\t\t},\n\t\t\"live\": {\n\t\t\t\"updated\": \"LiveUpdated\",\n\t\t\t\"latitude\": \"latitude\",\n\t\t\t\"longitude\": \"longitude\",\n\t\t\t\"altitude\": \"altitude\",\n\t\t\t\"direction\": \"direction\",\n\t\t\t\"speed_horizontal\": \"speedHorizontal\",\n\t\t\t\"speed_vertical\": \"speedVertical\",\n\t\t\t\"is_ground\": \"isGround\"\n\t\t}\n\t}\n}]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "0843126f-3fdb-30a6-8d9e-205c7dae7394",
          "instanceIdentifier" : "ab5e9fb1-018a-1000-3a99-f46dda5c1f03",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -888.0,
            "y" : 680.0
          },
          "properties" : {
            "filename" : "${now():format('yyyyMMdd')}-${now():format('HHmmssSSS')}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "7b578340-42d9-356e-8875-eafe216b404a",
          "instanceIdentifier" : "9fe0e34f-018a-1000-1d17-5f2e0590c0f5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -104.0,
            "y" : 128.0
          },
          "properties" : {
            "jolt-spec" : "[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"data\": {\n\t\t\t\"*\": {\n\t\t\t\t\"flight_date\": \"[&1].flight_date\",\n\t\t\t\t\"flight_status\": \"[&1].flight_status\",\n\t\t\t\t\"departure\": {\n\t\t\t\t\t\"airport\": \"[&2].depAirport\",\n\t\t\t\t\t\"timezone\": \"[&2].depTimezone\"\n\t\t\t\t},\n\t\t\t\t\"arrival\": {\n\t\t\t\t\t\"airport\": \"[&2].arrAirport\",\n\t\t\t\t\t\"timezone\": \"[&2].arrTimezone\",\n\t\t\t\t\t\"terminal\": \"[&2].arrTerminal\",\n\t\t\t\t\t\"gate\": \"[&2].arrGate\"\n\t\t\t\t},\n\t\t\t\t\"airline\": {\n\t\t\t\t\t\"name\": \"[&2].airlineName\"\n\t\t\t\t},\n\t\t\t\t\"flight\": {\n\t\t\t\t\t\"number\": \"[&2].flightNumber\"\n\t\t\t\t},\n\t\t\t\t\"aircraft\": {\n\t\t\t\t\t\"registration\": \"[&2].aircraftRegistration\"\n\t\t\t\t},\n\t\t\t\t\"live\": {\n\t\t\t\t\t\"updated\": \"[&2].LiveUpdated\",\n\t\t\t\t\t\"latitude\": \"[&2].latitude\",\n\t\t\t\t\t\"longitude\": \"[&2].longitude\",\n\t\t\t\t\t\"altitude\": \"[&2].altitude\",\n\t\t\t\t\t\"direction\": \"[&2].direction\",\n\t\t\t\t\t\"speed_horizontal\": \"[&2].speedHorizontal\",\n\t\t\t\t\t\"speed_vertical\": \"[&2].speedVertical\",\n\t\t\t\t\t\"is_ground\": \"[&2].isGround\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "4 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "afb45405-118f-392d-9274-a33a6c123016",
          "instanceIdentifier" : "ab5fad66-018a-1000-d524-af94c8a84673",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -888.0,
            "y" : 816.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/ubuntu/nifi_training/splitted/",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "fddd82ea-dc5b-3c25-803c-73b7e6f5abfb",
          "instanceIdentifier" : "9bef9c1e-018a-1000-5100-deec3264682e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ControlRate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1376.0,
            "y" : 264.0
          },
          "properties" : {
            "Time Duration" : "1 min",
            "Maximum Rate" : "1",
            "Rate Control Criteria" : "flowfile count"
          },
          "propertyDescriptors" : {
            "Time Duration" : {
              "displayName" : "Time Duration",
              "identifiesControllerService" : false,
              "name" : "Time Duration",
              "sensitive" : false
            },
            "Grouping Attribute" : {
              "displayName" : "Grouping Attribute",
              "identifiesControllerService" : false,
              "name" : "Grouping Attribute",
              "sensitive" : false
            },
            "Maximum Rate" : {
              "displayName" : "Maximum Rate",
              "identifiesControllerService" : false,
              "name" : "Maximum Rate",
              "sensitive" : false
            },
            "Rate Controlled Attribute" : {
              "displayName" : "Rate Controlled Attribute",
              "identifiesControllerService" : false,
              "name" : "Rate Controlled Attribute",
              "sensitive" : false
            },
            "Rate Control Criteria" : {
              "displayName" : "Rate Control Criteria",
              "identifiesControllerService" : false,
              "name" : "Rate Control Criteria",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ControlRate",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "c593da88-726a-3369-8bb9-eab52284e322",
          "instanceIdentifier" : "9fd0912f-018a-1000-68f9-15e2091b65a5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ControlRate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 680.0,
            "y" : -232.0
          },
          "properties" : {
            "Time Duration" : "1 sec",
            "Maximum Rate" : "10",
            "Rate Control Criteria" : "flowfile count"
          },
          "propertyDescriptors" : {
            "Time Duration" : {
              "displayName" : "Time Duration",
              "identifiesControllerService" : false,
              "name" : "Time Duration",
              "sensitive" : false
            },
            "Grouping Attribute" : {
              "displayName" : "Grouping Attribute",
              "identifiesControllerService" : false,
              "name" : "Grouping Attribute",
              "sensitive" : false
            },
            "Maximum Rate" : {
              "displayName" : "Maximum Rate",
              "identifiesControllerService" : false,
              "name" : "Maximum Rate",
              "sensitive" : false
            },
            "Rate Controlled Attribute" : {
              "displayName" : "Rate Controlled Attribute",
              "identifiesControllerService" : false,
              "name" : "Rate Controlled Attribute",
              "sensitive" : false
            },
            "Rate Control Criteria" : {
              "displayName" : "Rate Control Criteria",
              "identifiesControllerService" : false,
              "name" : "Rate Control Criteria",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ControlRate",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "89ce6fb5-89d1-3e86-ac7b-9b4c185a0daa",
          "instanceIdentifier" : "9b8297a1-018a-1000-3065-9095219b412d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "getFlightsFromAPIAviationStack",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 680.0,
            "y" : 128.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "#{aviationStack.endpoint.flights}?access_key=${access_key}&flight_status=${flight_status}&limit=${limit}",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Set FlowFile Form Data File Name",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "Disable HTTP/2",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "FlowFile Form Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "OAuth2 Access Token provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "8528c1d2-ae85-3a63-9002-9c75dab3a6e9",
          "instanceIdentifier" : "ab5b3574-018a-1000-60f8-38562a84e0ea",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RetryFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -888.0,
            "y" : 544.0
          },
          "properties" : {
            "penalize-retries" : "true",
            "maximum-retries" : "1",
            "Fail on Non-numerical Overwrite" : "false",
            "reuse-mode" : "fail",
            "retry-attribute" : "flowfile.retries"
          },
          "propertyDescriptors" : {
            "penalize-retries" : {
              "displayName" : "Penalize Retries",
              "identifiesControllerService" : false,
              "name" : "penalize-retries",
              "sensitive" : false
            },
            "maximum-retries" : {
              "displayName" : "Maximum Retries",
              "identifiesControllerService" : false,
              "name" : "maximum-retries",
              "sensitive" : false
            },
            "Fail on Non-numerical Overwrite" : {
              "displayName" : "Fail on Non-numerical Overwrite",
              "identifiesControllerService" : false,
              "name" : "Fail on Non-numerical Overwrite",
              "sensitive" : false
            },
            "reuse-mode" : {
              "displayName" : "Reuse Mode",
              "identifiesControllerService" : false,
              "name" : "reuse-mode",
              "sensitive" : false
            },
            "retry-attribute" : {
              "displayName" : "Retry Attribute",
              "identifiesControllerService" : false,
              "name" : "retry-attribute",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RetryFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "1392d009-4220-35e2-aa1b-f7b7594bb732",
          "instanceIdentifier" : "9f099f2d-018a-1000-9072-82d917b4d864",
          "maxBackoffPeriod" : "10 mins",
          "name" : "AttributesToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1376.0,
            "y" : 656.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "Null Value" : "false",
            "Attributes List" : "flight_date,\nflight_status,\nflightNumber,\ndepAirport,\ndepTimezone,\narrAirport,\narrTimezone,\narrTerminal,\narrGate,\nairlineName,\naircraftRegistration,\nliveUpdated,\nlatitude,\nlongitude,\naltitude,\ndirection,\nspeedHorizontal,\nspeedVertical,\nisGround",
            "Include Core Attributes" : "true"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-json-regex",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Null Value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "Null Value",
              "sensitive" : false
            },
            "Attributes List" : {
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "name" : "Attributes List",
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "Include Core Attributes",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "f0c48ecc-374a-38a1-bc16-0313d94327cb",
          "instanceIdentifier" : "9effb20f-018a-1000-a8ba-d6810f93b23f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FlattenJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1832.0,
            "y" : 352.0
          },
          "properties" : {
            "ignore-reserved-characters" : "false",
            "flatten-mode" : "dot notation",
            "flatten-json-separator" : ".",
            "flatten-json-pretty-print-json" : "false",
            "flatten-json-return-type" : "flatten",
            "flatten-json-character-set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "ignore-reserved-characters" : {
              "displayName" : "Ignore Reserved Characters",
              "identifiesControllerService" : false,
              "name" : "ignore-reserved-characters",
              "sensitive" : false
            },
            "flatten-mode" : {
              "displayName" : "Flatten Mode",
              "identifiesControllerService" : false,
              "name" : "flatten-mode",
              "sensitive" : false
            },
            "flatten-json-separator" : {
              "displayName" : "Separator",
              "identifiesControllerService" : false,
              "name" : "flatten-json-separator",
              "sensitive" : false
            },
            "flatten-json-pretty-print-json" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "flatten-json-pretty-print-json",
              "sensitive" : false
            },
            "flatten-json-return-type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "flatten-json-return-type",
              "sensitive" : false
            },
            "flatten-json-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "flatten-json-character-set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FlattenJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "2f8bb108-c0de-3aaa-8911-7fe01b5ae206",
          "instanceIdentifier" : "9c1e54a1-018a-1000-1416-687354ca197e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 680.0,
            "y" : 672.0
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "9c2c77ef-c43d-384b-ad84-e01bfc2147b2",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "d0f9418a-d524-374a-8663-6f1f86759150",
          "instanceIdentifier" : "c34289cf-018a-1000-a72b-fbbf53641cee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "AttributesToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1425.5003064608088,
            "y" : -132.77598192921218
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Null Value" : "false",
            "Include Core Attributes" : "true"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-json-regex",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Null Value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "Null Value",
              "sensitive" : false
            },
            "Attributes List" : {
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "name" : "Attributes List",
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "Include Core Attributes",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "d341c1db-e707-3072-9846-a9e753757720",
          "instanceIdentifier" : "9f1e235a-018a-1000-9067-589c152d89e1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1376.0,
            "y" : 792.0
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "Table Name" : "activeFlights",
            "Catalog Name" : "dbTestNifi",
            "jts-sql-param-attr-prefix" : "sql",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "JDBC Connection Pool" : "9c2c77ef-c43d-384b-ad84-e01bfc2147b2",
            "Translate Field Names" : "true",
            "Statement Type" : "INSERT"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "3898c960-bb57-3cf4-9ed5-5dd10826258c",
          "instanceIdentifier" : "9be7b240-018a-1000-d323-bef6109d2485",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 680.0,
            "y" : 264.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.data"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "4f2498d5-6f0c-3c16-aa09-608bd16f14d5",
          "instanceIdentifier" : "9fe65afe-018a-1000-7a71-10e12f47872c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -104.0,
            "y" : 536.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "put-es-type" : "_doc",
            "put-es-index" : "aviationstack-flights",
            "elasticsearch-http-url" : "https://40ww44q8ac:p64zcd81cu@personal-2574463760.us-east-1.bonsaisearch.net",
            "put-es-batch-size" : "100",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "put-es-index-op" : "index",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "put-es-id-attr" : {
              "displayName" : "Identifier Attribute",
              "identifiesControllerService" : false,
              "name" : "put-es-id-attr",
              "sensitive" : false
            },
            "put-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "put-es-type",
              "sensitive" : false
            },
            "put-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "put-es-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "put-es-index-op" : {
              "displayName" : "Index Operation",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "241a0d5e-67ab-3977-b2ca-5bac1a4a8fd8",
          "instanceIdentifier" : "9c1a3cb9-018a-1000-2f17-e89442f0a30f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 680.0,
            "y" : 536.0
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "Table Name" : "activeFlights",
            "Catalog Name" : "dbTestNifi",
            "jts-sql-param-attr-prefix" : "sql",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "JDBC Connection Pool" : "9c2c77ef-c43d-384b-ad84-e01bfc2147b2",
            "Translate Field Names" : "true",
            "Statement Type" : "INSERT"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "96f748aa-c142-3c46-a18b-90aae9d98069",
          "instanceIdentifier" : "9f20cabc-018a-1000-172b-6c56c3d6c4f9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1376.0,
            "y" : 928.0
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "9c2c77ef-c43d-384b-ad84-e01bfc2147b2",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "eb69c11d-998a-3217-bc7c-909a77b5d0ef",
          "instanceIdentifier" : "9b8a9673-018a-1000-ff83-4a7914ae30a8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Wait",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1376.0,
            "y" : 128.0
          },
          "properties" : {
            "wait-buffer-count" : "1",
            "wait-mode" : "wait",
            "attribute-copy-mode" : "keeporiginal",
            "releasable-flowfile-count" : "1",
            "expiration-duration" : "10 min",
            "target-signal-count" : "1"
          },
          "propertyDescriptors" : {
            "wait-buffer-count" : {
              "displayName" : "Wait Buffer Count",
              "identifiesControllerService" : false,
              "name" : "wait-buffer-count",
              "sensitive" : false
            },
            "wait-mode" : {
              "displayName" : "Wait Mode",
              "identifiesControllerService" : false,
              "name" : "wait-mode",
              "sensitive" : false
            },
            "attribute-copy-mode" : {
              "displayName" : "Attribute Copy Mode",
              "identifiesControllerService" : false,
              "name" : "attribute-copy-mode",
              "sensitive" : false
            },
            "distributed-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "distributed-cache-service",
              "sensitive" : false
            },
            "releasable-flowfile-count" : {
              "displayName" : "Releasable FlowFile Count",
              "identifiesControllerService" : false,
              "name" : "releasable-flowfile-count",
              "sensitive" : false
            },
            "release-signal-id" : {
              "displayName" : "Release Signal Identifier",
              "identifiesControllerService" : false,
              "name" : "release-signal-id",
              "sensitive" : false
            },
            "signal-counter-name" : {
              "displayName" : "Signal Counter Name",
              "identifiesControllerService" : false,
              "name" : "signal-counter-name",
              "sensitive" : false
            },
            "expiration-duration" : {
              "displayName" : "Expiration Duration",
              "identifiesControllerService" : false,
              "name" : "expiration-duration",
              "sensitive" : false
            },
            "target-signal-count" : {
              "displayName" : "Target Signal Count",
              "identifiesControllerService" : false,
              "name" : "target-signal-count",
              "sensitive" : false
            },
            "wait-penalty-duration" : {
              "displayName" : "Wait Penalty Duration",
              "identifiesControllerService" : false,
              "name" : "wait-penalty-duration",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Wait",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "79ec2010-d143-3451-983d-cfab79130028",
          "instanceIdentifier" : "9b8300cb-018a-1000-016d-fb9f59056e08",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 680.0,
            "y" : -8.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "flight_status" : "#{flight_status}",
            "File Size" : "0B",
            "Batch Size" : "1",
            "access_key" : "#{aviationStack.apikey}",
            "Unique FlowFiles" : "false",
            "limit" : "#{limit}",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "flight_status" : {
              "displayName" : "flight_status",
              "identifiesControllerService" : false,
              "name" : "flight_status",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "access_key" : {
              "displayName" : "access_key",
              "identifiesControllerService" : false,
              "name" : "access_key",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "limit" : {
              "displayName" : "limit",
              "identifiesControllerService" : false,
              "name" : "limit",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "3 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7579cae7-f50b-32de-98da-4fc3218fafee",
          "identifier" : "f7be1980-96bc-3447-8917-9f1d0a202c89",
          "instanceIdentifier" : "9fe47068-018a-1000-6c23-db5171b6fb02",
          "maxBackoffPeriod" : "10 mins",
          "name" : "QueryRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -104.0,
            "y" : 264.0
          },
          "properties" : {
            "cache-schema" : "true",
            "dbf-default-precision" : "10",
            "record-writer" : "a3775910-fef1-3c89-a8d4-24474c958e35",
            "query" : "SELECT\n\t${now():toNumber()} AS insertTimeStamp,\n\tdepAirport,\n\tarrAirport,\n\tairlineName,\n\tflightNumber,\n\taltitude,\n\tspeedHorizontal\nFROM FLOWFILE",
            "record-reader" : "dc88399e-8b51-3d06-8ea0-d6374afd7c08",
            "include-zero-record-flowfiles" : "true",
            "dbf-default-scale" : "0"
          },
          "propertyDescriptors" : {
            "cache-schema" : {
              "displayName" : "Cache Schema",
              "identifiesControllerService" : false,
              "name" : "cache-schema",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "query" : {
              "displayName" : "query",
              "identifiesControllerService" : false,
              "name" : "query",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "2 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.QueryRecord",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "aviationFlow" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "aviationFlow",
          "parameters" : [ {
            "description" : "",
            "name" : "flight_status",
            "provided" : false,
            "sensitive" : false,
            "value" : "active"
          }, {
            "description" : "",
            "name" : "aviationStack.apikey",
            "provided" : false,
            "sensitive" : false,
            "value" : "6ed7a5429d71908b99ac759630605e3f"
          }, {
            "description" : "",
            "name" : "limit",
            "provided" : false,
            "sensitive" : false,
            "value" : "100"
          }, {
            "description" : "",
            "name" : "aviationStack.endpoint.flights",
            "provided" : false,
            "sensitive" : false,
            "value" : "http://api.aviationstack.com/v1/flights"
          } ]
        }
      }
    }
  }
}